src/main/resources/wsdl/schemas/FAS_DocManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration"
           xmlns:q1="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/FAS.DocManagement">

    <xs:import namespace="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core"/>

    <xs:complexType name="DatePeriod">
        <xs:complexContent mixed="false">
            <xs:extension base="q1:IntegrationDataContract">
                <xs:sequence>
                    <xs:element minOccurs="0" name="From" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="To" type="xs:dateTime"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="DatePeriod" nillable="true" type="tns:DatePeriod"/>

</xs:schema>
