src/main/resources/wsdl/schemas/FAS_DocManagement_SystemFaults_Faults.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/FAS.DocManagement.SystemFaults.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FAS.DocManagement.SystemFaults.Faults">
            <xs:complexType name="SecurityFault">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EventFault">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="FaultCode" type="tns:SecurityFaultCodes"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="SecurityFault" nillable="true" type="tns:SecurityFault"/>
            <xs:complexType name="EventFault">
                <xs:sequence>
                    <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="EventFault" nillable="true" type="tns:EventFault"/>
            <xs:simpleType name="SecurityFaultCodes">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="None"/>
                    <xs:enumeration value="UniqueSessionRequirementViolation"/>
                    <xs:enumeration value="IdleSessionTimeoutRequirementViolation"/>
                    <xs:enumeration value="IdleSessionTimeoutRequirementViolationWarning"/>
                    <xs:enumeration value="ActiveSessionRequirementViolation"/>
                    <xs:enumeration value="InvalidLoginOrPassword"/>
                    <xs:enumeration value="InvalidAuthenticationFactorType"/>
                    <xs:enumeration value="AuthenticationFactorTimeout"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="SecurityFaultCodes" nillable="true" type="tns:SecurityFaultCodes"/>
            <xs:complexType name="ValidationFault">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EventFault">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="ValidationFault" nillable="true" type="tns:ValidationFault"/>
            <xs:complexType name="OperationFault">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EventFault">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="OperationFault" nillable="true" type="tns:OperationFault"/>
            <xs:complexType name="InternalFault">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:EventFault">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="InternalFault" nillable="true" type="tns:InternalFault"/>
        </xs:schema>