src/main/resources/wsdl/schemas/FAS_DocManagement_Integration_Export.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.Export" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.Export">
            <xs:import namespace="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.DataContracts"/>
            <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xs:import namespace="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core"/>
            <xs:complexType name="Contact">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q1:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.DataContracts" minOccurs="0" name="ContactType" type="q2:ContactTypes"/>
                            <xs:element minOccurs="0" name="ID" type="ser:guid"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="Contact" nillable="true" type="tns:Contact"/>
            <xs:complexType name="PhysicalPerson">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:Contact">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="PersonalNumber" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="PhysicalPerson" nillable="true" type="tns:PhysicalPerson"/>
            <xs:complexType name="Organization">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:Contact">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="IdentificationNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="JuridicalForm" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="Organization" nillable="true" type="tns:Organization"/>
            <xs:complexType name="StateStructure">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:Contact">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="StateStructure" nillable="true" type="tns:StateStructure"/>
            <xs:complexType name="ArrayOfDocument">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument"/>
            <xs:complexType name="Document">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q3:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="Deadline" nillable="true" type="xs:dateTime"/>
                            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.DataContracts" minOccurs="0" name="DocumentStatus" type="q4:DocumentStatuses"/>
                            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.DataContracts" minOccurs="0" name="DocumentType" type="q5:DocumentTypes"/>
                            <xs:element minOccurs="0" name="ExportStatus" type="tns:ExportStatuses"/>
                            <xs:element minOccurs="0" name="ID" type="ser:guid"/>
                            <xs:element minOccurs="0" name="IssueDecisionType" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="Document" nillable="true" type="tns:Document"/>
            <xs:simpleType name="ExportStatuses">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Exportable">
                        <xs:annotation>
                            <xs:appinfo>
                                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="ExportInProcess">
                        <xs:annotation>
                            <xs:appinfo>
                                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Exported">
                        <xs:annotation>
                            <xs:appinfo>
                                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="ExportFailed">
                        <xs:annotation>
                            <xs:appinfo>
                                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="ExportCanceled">
                        <xs:annotation>
                            <xs:appinfo>
                                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="ExportStatuses" nillable="true" type="tns:ExportStatuses"/>
            <xs:complexType name="DocumentData">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:Document">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Annotation" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="Chancellary" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfDocumentFile"/>
                            <xs:element minOccurs="0" name="Purpose" type="tns:PurposeTypes"/>
                            <xs:element minOccurs="0" name="RelatedDocuments" nillable="true" type="tns:ArrayOfRelatedDocument"/>
                            <xs:element minOccurs="0" name="ResultProcess" nillable="true" type="tns:ResultProcess"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="DocumentData" nillable="true" type="tns:DocumentData"/>
            <xs:complexType name="ArrayOfDocumentFile">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentFile" nillable="true" type="tns:DocumentFile"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfDocumentFile" nillable="true" type="tns:ArrayOfDocumentFile"/>
            <xs:complexType name="DocumentFile">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q6:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary"/>
                            <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.DataContracts" minOccurs="0" name="FileType" type="q7:DocumentFileTypes"/>
                            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="DocumentFile" nillable="true" type="tns:DocumentFile"/>
            <xs:simpleType name="PurposeTypes">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ForInformation"/>
                    <xs:enumeration value="ForReaction"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="PurposeTypes" nillable="true" type="tns:PurposeTypes"/>
            <xs:complexType name="ArrayOfRelatedDocument">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="RelatedDocument" nillable="true" type="tns:RelatedDocument"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfRelatedDocument" nillable="true" type="tns:ArrayOfRelatedDocument"/>
            <xs:complexType name="RelatedDocument">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q8:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Document" nillable="true" type="tns:DocumentInfo"/>
                            <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.DataContracts" minOccurs="0" name="RelationType" type="q9:RelationTypes"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="RelatedDocument" nillable="true" type="tns:RelatedDocument"/>
            <xs:complexType name="DocumentInfo">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q10:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.DataContracts" minOccurs="0" name="DocumentType" type="q11:DocumentTypes"/>
                            <xs:element minOccurs="0" name="ExportStatus" nillable="true" type="tns:ExportStatuses"/>
                            <xs:element minOccurs="0" name="ID" nillable="true" type="ser:guid"/>
                            <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="DocumentInfo" nillable="true" type="tns:DocumentInfo"/>
            <xs:complexType name="ResultProcess">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:Process">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="ResultProcess" nillable="true" type="tns:ResultProcess"/>
            <xs:complexType name="Process">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q12:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Responsibles" nillable="true" type="tns:ArrayOfResponsibleData"/>
                            <xs:element minOccurs="0" name="Task" nillable="true" type="tns:TaskData"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="Process" nillable="true" type="tns:Process"/>
            <xs:complexType name="ArrayOfResponsibleData">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponsibleData" nillable="true" type="tns:ResponsibleData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfResponsibleData" nillable="true" type="tns:ArrayOfResponsibleData"/>
            <xs:complexType name="ResponsibleData">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q13:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="ChildResponsibles" nillable="true" type="tns:ArrayOfResponsibleData"/>
                            <xs:element minOccurs="0" name="Deadline" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="Employee" nillable="true" type="tns:EmployeeData"/>
                            <xs:element minOccurs="0" name="StartDate" type="xs:dateTime"/>
                            <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.DataContracts" minOccurs="0" name="Status" type="q14:ResponsibleStatuses"/>
                            <xs:element minOccurs="0" name="StatusChangeDate" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="Task" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="ResponsibleData" nillable="true" type="tns:ResponsibleData"/>
            <xs:complexType name="EmployeeData">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q15:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="OrganizationStructure" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="EmployeeData" nillable="true" type="tns:EmployeeData"/>
            <xs:complexType name="TaskData">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q16:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Deadline" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="InitiatedBy" nillable="true" type="tns:EmployeeData"/>
                            <xs:element minOccurs="0" name="IsInitiated" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="Number" type="xs:int"/>
                            <xs:element minOccurs="0" name="StartDate" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="TaskData" nillable="true" type="tns:TaskData"/>
            <xs:complexType name="IncomingDocumentData">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:DocumentData">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Addressees" nillable="true" type="tns:ArrayOfEmployeeData"/>
                            <xs:element minOccurs="0" name="OriginalDate" nillable="true" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="OriginalNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="ReceiveWays" nillable="true" type="tns:ArrayOfReceiveWayData"/>
                            <xs:element minOccurs="0" name="Senders" nillable="true" type="tns:ArrayOfContact"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="IncomingDocumentData" nillable="true" type="tns:IncomingDocumentData"/>
            <xs:complexType name="ArrayOfEmployeeData">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeData" nillable="true" type="tns:EmployeeData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfEmployeeData" nillable="true" type="tns:ArrayOfEmployeeData"/>
            <xs:complexType name="ArrayOfReceiveWayData">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiveWayData" nillable="true" type="tns:ReceiveWayData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfReceiveWayData" nillable="true" type="tns:ArrayOfReceiveWayData"/>
            <xs:complexType name="ReceiveWayData">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q17:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="Way" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="ReceiveWayData" nillable="true" type="tns:ReceiveWayData"/>
            <xs:complexType name="ArrayOfContact">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact"/>
            <xs:complexType name="InternalDocumentData">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:DocumentData">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="HasDigitalSignature" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="HasDigitalStamp" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="PreProcess" nillable="true" type="tns:PreparationProcess"/>
                            <xs:element minOccurs="0" name="Recipients" nillable="true" type="tns:ArrayOfEmployeeData"/>
                            <xs:element minOccurs="0" name="Senders" nillable="true" type="tns:ArrayOfEmployeeData"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="InternalDocumentData" nillable="true" type="tns:InternalDocumentData"/>
            <xs:complexType name="PreparationProcess">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:Process">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Signatures" nillable="true" type="tns:ArrayOfSignatureData"/>
                            <xs:element minOccurs="0" name="Vises" nillable="true" type="tns:ArrayOfViseData"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="PreparationProcess" nillable="true" type="tns:PreparationProcess"/>
            <xs:complexType name="ArrayOfSignatureData">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="SignatureData" nillable="true" type="tns:SignatureData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfSignatureData" nillable="true" type="tns:ArrayOfSignatureData"/>
            <xs:complexType name="SignatureData">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q18:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Creator" nillable="true" type="tns:EmployeeData"/>
                            <xs:element minOccurs="0" name="Deadline" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="EntryDate" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="Signatory" nillable="true" type="tns:EmployeeData"/>
                            <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.DataContracts" minOccurs="0" name="Status" type="q19:SignatureStatuses"/>
                            <xs:element minOccurs="0" name="StatusChangeDate" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="SignatureData" nillable="true" type="tns:SignatureData"/>
            <xs:complexType name="ArrayOfViseData">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ViseData" nillable="true" type="tns:ViseData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfViseData" nillable="true" type="tns:ArrayOfViseData"/>
            <xs:complexType name="ViseData">
                <xs:complexContent mixed="false">
                    <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/FAS.DocManagement.ExternalServices.Core" base="q20:IntegrationDataContract">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Author" nillable="true" type="tns:EmployeeData"/>
                            <xs:element minOccurs="0" name="ChildVises" nillable="true" type="tns:ArrayOfViseData"/>
                            <xs:element minOccurs="0" name="Creator" nillable="true" type="tns:EmployeeData"/>
                            <xs:element minOccurs="0" name="Deadline" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="EntryDate" type="xs:dateTime"/>
                            <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.DataContracts" minOccurs="0" name="Status" type="q21:ViseStatuses"/>
                            <xs:element minOccurs="0" name="StatusChangeDate" type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="ViseData" nillable="true" type="tns:ViseData"/>
            <xs:complexType name="OutgoingDocumentData">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:DocumentData">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="HasDigitalSignature" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="HasDigitalStamp" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="PreProcess" nillable="true" type="tns:PreparationProcess"/>
                            <xs:element minOccurs="0" name="Recipients" nillable="true" type="tns:ArrayOfContact"/>
                            <xs:element minOccurs="0" name="Signatories" nillable="true" type="tns:ArrayOfEmployeeData"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="OutgoingDocumentData" nillable="true" type="tns:OutgoingDocumentData"/>
            <xs:complexType name="OrderDocumentData">
                <xs:complexContent mixed="false">
                    <xs:extension base="tns:DocumentData">
                        <xs:sequence>
                            <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/FAS.DocManagement.Integration.DataContracts" minOccurs="0" name="Direction" type="q22:OrderDirections"/>
                            <xs:element minOccurs="0" name="HasDigitalSignature" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="HasDigitalStamp" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="InnerRecipients" nillable="true" type="tns:ArrayOfEmployeeData"/>
                            <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="OuterRecipients" nillable="true" type="tns:ArrayOfContact"/>
                            <xs:element minOccurs="0" name="PreProcess" nillable="true" type="tns:PreparationProcess"/>
                            <xs:element minOccurs="0" name="RelatedEmployees" nillable="true" type="tns:ArrayOfEmployeeData"/>
                            <xs:element minOccurs="0" name="Signatories" nillable="true" type="tns:ArrayOfEmployeeData"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="OrderDocumentData" nillable="true" type="tns:OrderDocumentData"/>
            <xs:complexType name="ArrayOfPhysicalPerson">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="PhysicalPerson" nillable="true" type="tns:PhysicalPerson"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfPhysicalPerson" nillable="true" type="tns:ArrayOfPhysicalPerson"/>
            <xs:complexType name="ArrayOfOrganization">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Organization" nillable="true" type="tns:Organization"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfOrganization" nillable="true" type="tns:ArrayOfOrganization"/>
            <xs:complexType name="ArrayOfStateStructure">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="StateStructure" nillable="true" type="tns:StateStructure"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ArrayOfStateStructure" nillable="true" type="tns:ArrayOfStateStructure"/>
        </xs:schema>